.SelectTopo {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 10px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 151px; COLOR: #5f5f5f; PADDING-TOP: 0px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; HEIGHT: 17px; BACKGROUND-COLOR: #cecece
}
.CabecalhoNome {
	FONT-SIZE: 11px; BACKGROUND: #41a4d0; COLOR: #333333; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.DetalheNome {
	BACKGROUND: #41a4d0; COLOR: #41a4d0
}
.MenuItemBold {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #333333; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.MenuItemBold:link {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #333333; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.MenuItemBold:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #333333; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.MenuItemBold:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #333333; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.MenuItemInterno {
	FONT-SIZE: 10px; COLOR: #333333; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.MenuItemInterno:hover {
	FONT-SIZE: 10px; COLOR: #333333; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
.ConteudoTxtInfo {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #666666; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
A.ConteudoTxtLink:link {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #666666; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.ConteudoTxtLink:visited {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #666666; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.ConteudoTxtLink:hover {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #666666; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
.ConteudoTxtBoasVindas {
	FONT-SIZE: 11px; COLOR: #666666; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.ConteudoTxtAvisoNavegacao {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #666666; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.ConteudoTxt {
	FONT-SIZE: 11px; COLOR: #333333; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.ConteudoTxtBold {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #333333; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.ConteudoTxtTituloBold {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #666666; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.ConteudoTxtTituloBold2 {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #0e3674; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
A.ConteudoTxtTituloBold:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #666666; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
.texto {
	FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.textobold {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.cantoclaroinfesq {
	BACKGROUND: url(../_images/dlt_canto_cbd9e1_ie.gif) #cbd9e1 fixed no-repeat left bottom
}
.cantoclaroinfdir {
	BACKGROUND: url(../_images/dlt_canto_cbd9e1_id.gif) #cbd9e1 fixed no-repeat right bottom
}
.cantoclarosupdir {
	BACKGROUND: url(../_images/dlt_canto_cbd9e1_sd.gif) #cbd9e1 fixed no-repeat right top
}
.cantoclarosupesq {
	BACKGROUND: url(../_images/dlt_canto_cbd9e1_se.gif) #cbd9e1 fixed no-repeat left top
}
.ConteudoTxtTituloTbl {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.ConteudoTxtConteudoCampoTbl {
	FONT-SIZE: 11px; BACKGROUND: #f6f6f6; COLOR: #666666; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.ConteudoSelect {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 10px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #333333; PADDING-TOP: 0px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #cecece
}
.ConteudoTxtSubtituloBold {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #227ea5; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.ConteudoTxtInfoBold {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #666666; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #f6f6f6
}
.ConteudoTxtInfo {
	FONT-SIZE: 11px; COLOR: #666666; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #f6f6f6
}
.BoxClaraTxt {
	FONT-SIZE: 11px; COLOR: #333333; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #cbd9e1
}
.BoxClaraTxtBold {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #333333; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #cbd9e1
}
.CantoClaroInfEsq {
	BACKGROUND: url(../_images/dtlCantoBoxClaroEI.gif) #cbd9e1 fixed no-repeat left bottom
}
.ConteudoTxtAviso {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #0e3674; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.CantoClaroInfDir {
	BACKGROUND-POSITION: right bottom; BACKGROUND-IMAGE: url(../_images/dtlCantoBoxClaroDI.gif); BACKGROUND-REPEAT: no-repeat; BACKGROUND-COLOR: #cbd9e1
}
.fa7p {
	FONT-SIZE: 7pt; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.fa11p {
	FONT-WEIGHT: normal; FONT-SIZE: 11pt; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.txtazul {
	FONT-SIZE: 8pt; COLOR: #005baa; FONT-FAMILY: Verdana
}
.fa9p {
	FONT-WEIGHT: normal; FONT-SIZE: 9pt; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.fa10p {
	FONT-WEIGHT: normal; FONT-SIZE: 10pt; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.fa10pbold {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.fa11pbold {
	FONT-WEIGHT: bold; FONT-SIZE: 11pt; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.nohscroll {
	OVERFLOW-X: hidden
}
.nomeusuario {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #333333; FONT-FAMILY: Verdana, Arial
}
.cpfusuario {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #333333; FONT-FAMILY: Verdana, Arial
}
.selectatendimento {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 10px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #5f5f5f; PADDING-TOP: 0px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; HEIGHT: 17px; BACKGROUND-COLOR: #cecece
}
.selectnavegue {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 10px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #5f5f5f; PADDING-TOP: 0px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; HEIGHT: 17px; BACKGROUND-COLOR: #cecece
}
.select {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 10px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #5f5f5f; PADDING-TOP: 0px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; HEIGHT: 17px; BACKGROUND-COLOR: #cecece
}
.input {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 10px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #000000; PADDING-TOP: 0px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; HEIGHT: 17px; BACKGROUND-COLOR: #cecece
}
.txtmenu {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.titcampo {
	FONT-SIZE: 11px; COLOR: #666666; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #f6f6f6
}
.subtitulo {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #227ea5; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.titcampobold {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; BACKGROUND-ATTACHMENT: fixed; COLOR: #666666; BACKGROUND-REPEAT: no-repeat; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #f6f6f6
}
A.linkpbold:link {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.linkpbold:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.linkbold:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
A.linkp:link {
	FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.linkp:visited {
	FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.linkp:hover {
	FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
A.linkczbold12 {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #0e3674; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
A.linkczbold:link {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #666666; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.linkczbold:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #666666; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.linkczbold:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #666666; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
A.linkcz:link {
	FONT-SIZE: 11px; COLOR: #666666; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.linkcz:visited {
	FONT-SIZE: 11px; COLOR: #666666; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.linkcz:hover {
	FONT-SIZE: 11px; COLOR: #666666; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
.texto {
	FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.textobold {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.textocabecalho {
	FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.textocabecalhobold {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.fundopontilhado {
	BACKGROUND-POSITION: center 50%; BACKGROUND-ATTACHMENT: fixed; BACKGROUND-IMAGE: url(../_images/back/pontilhado.gif); BACKGROUND-REPEAT: repeat-x
}
.tittabela {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; BACKGROUND-ATTACHMENT: fixed; COLOR: #ffffff; BACKGROUND-REPEAT: no-repeat; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.textoconfirmacao {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #0e3674; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.cantoescurosupesq {
	BACKGROUND: url(../_images/dlt/dlt_canto_7d9fb4_se.gif) #7d9fb4 fixed no-repeat left top
}
.cantoescurosupdir {
	BACKGROUND: url(../_images/dlt/dlt_canto_7d9fb4_sd.gif) #7d9fb4 fixed no-repeat right top
}
.cantoescuroinfesq {
	BACKGROUND: url(../_images/dlt/dlt_canto_7d9fb4_ie.gif) #7d9fb4 fixed no-repeat left bottom
}
.cantoescuroinfdir {
	BACKGROUND: url(../_images/dlt/dlt_canto_7d9fb4_id.gif) #7d9fb4 fixed no-repeat right bottom
}
.cantoclaroinfesq {
	BACKGROUND: url(../_images/dlt/dlt_canto_cbd9e1_ie.gif) #cbd9e1 fixed no-repeat left bottom
}
.cantoclaroinfdir {
	BACKGROUND: url(../_images/dlt/dlt_canto_cbd9e1_id.gif) #cbd9e1 fixed no-repeat right bottom
}
.cantoclarosupdir {
	BACKGROUND: url(../_images/dlt/dlt_canto_cbd9e1_sd.gif) #cbd9e1 fixed no-repeat right top
}
.cantoclarosupesq {
	BACKGROUND: url(../_images/dlt/dlt_canto_cbd9e1_se.gif) #cbd9e1 fixed no-repeat left top
}
.level1 {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.level2 {
	FONT-SIZE: 10px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
A.menu:link {
	COLOR: #990000; TEXT-DECORATION: underline
}
A.menu:hover {
	COLOR: #0000ff; TEXT-DECORATION: none
}
A.menu:active {
	COLOR: #ff0000; TEXT-DECORATION: none
}
A.menu:visited {
	COLOR: #666666
}
.paginacao {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; BACKGROUND-ATTACHMENT: fixed; COLOR: #666666; BACKGROUND-REPEAT: no-repeat; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.textarea {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 10px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #000000; PADDING-TOP: 0px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #cecece
}
.titcamposemfundo {
	FONT-SIZE: 11px; COLOR: #666666; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.titcampo2 {
	FONT-SIZE: 11px; COLOR: #666666; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #cbd9e1
}
.titcampobold2 {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; BACKGROUND-ATTACHMENT: fixed; COLOR: #666666; BACKGROUND-REPEAT: no-repeat; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #cbd9e1
}
.textoconfirmacaosembold {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #0e3674; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.fv8lr {
	FONT-SIZE: 8pt; COLOR: #f37022; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.dadocli {
	FONT-SIZE: 11px; COLOR: black; FONT-FAMILY: Verdana, Arial; BACKGROUND-COLOR: #cbd9e1; TEXT-DECORATION: none
}
.dadoclibold {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: black; FONT-FAMILY: Verdana, Arial; BACKGROUND-COLOR: #cbd9e1; TEXT-DECORATION: none
}
#mnuLadDiv {
	WIDTH: 140px; TEXT-ALIGN: left
}
#mnuLadDiv UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#mnuLadDiv LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 8px
}
#mnuLadDiv LI.rdpe2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: middle; PADDING-TOP: 0px
}
#mnuLadDiv A.nivel0 {
	PADDING-RIGHT: 0px; BACKGROUND-POSITION: 0px 0ex; PADDING-LEFT: 0px; FONT-WEIGHT: bold; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; BACKGROUND-REPEAT: no-repeat
}
#mnuLadDiv A.nivel0:hover {
	PADDING-RIGHT: 0px; BACKGROUND-POSITION: 0px 0ex; PADDING-LEFT: 0px; FONT-WEIGHT: bold; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; BACKGROUND-REPEAT: no-repeat; TEXT-DECORATION: none
}
#mnuLadDiv A.nivel1 {
	PADDING-RIGHT: 0px; BACKGROUND-POSITION: left 3.2ex; PADDING-LEFT: 14px; FONT-WEIGHT: normal; FONT-SIZE: 10px; BACKGROUND-IMAGE: url(../_images/ico_nivel1.gif); PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #333333; PADDING-TOP: 8px; BACKGROUND-REPEAT: no-repeat; FONT-FAMILY: Verdana, Arial
}
#mnuLadDiv A.nivel1:hover {
	PADDING-RIGHT: 0px; BACKGROUND-POSITION: left 3.2ex; PADDING-LEFT: 14px; FONT-WEIGHT: normal; FONT-SIZE: 10px; BACKGROUND-IMAGE: url(../_images/ico_nivel1.gif); PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #333333; PADDING-TOP: 8px; BACKGROUND-REPEAT: no-repeat; FONT-FAMILY: Verdana, Arial; TEXT-DECORATION: underline
}
#mnuLadDiv A.nivel3 {
	PADDING-RIGHT: 0px; BACKGROUND-POSITION: left 1.5ex; PADDING-LEFT: 14px; FONT-WEIGHT: normal; FONT-SIZE: 10px; BACKGROUND-IMAGE: url(../_images/ico_nivel1.gif); PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #333333; PADDING-TOP: 8px; BACKGROUND-REPEAT: no-repeat; FONT-FAMILY: Verdana, Arial
}
#mnuLadDiv A.nivel3:hover {
	PADDING-RIGHT: 0px; BACKGROUND-POSITION: left 1.5ex; PADDING-LEFT: 14px; FONT-WEIGHT: normal; FONT-SIZE: 10px; BACKGROUND-IMAGE: url(../_images/ico_nivel1.gif); PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #333333; PADDING-TOP: 8px; BACKGROUND-REPEAT: no-repeat; FONT-FAMILY: Verdana, Arial; TEXT-DECORATION: underline
}
#mnuLadDiv .seglinha {
	PADDING-RIGHT: 0px; BACKGROUND-POSITION: left center; PADDING-LEFT: 14px; BACKGROUND-IMAGE: url(../_images/space_menu.jpg); PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
A {
	COLOR: #333333; TEXT-DECORATION: none
}
A:visited {
	TEXT-DECORATION: none
}
TD {
	FONT-SIZE: 10px; COLOR: #333333; FONT-FAMILY: Verdana,Arial,Helvetica,sans-serif
}
#mnuLadDiv A.nivel2 {
	PADDING-RIGHT: 0px; BACKGROUND-POSITION: left 1.5ex; PADDING-LEFT: 14px; FONT-WEIGHT: normal; FONT-SIZE: 10px; BACKGROUND-IMAGE: url(../_images/ico_nivel2.gif); PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #333333; PADDING-TOP: 8px; BACKGROUND-REPEAT: no-repeat; FONT-FAMILY: Verdana, Arial; TEXT-DECORATION: none
}
#mnuLadDiv A.nivel2:hover {
	PADDING-RIGHT: 0px; BACKGROUND-POSITION: left 2.5ex; PADDING-LEFT: 14px; FONT-WEIGHT: normal; FONT-SIZE: 10px; BACKGROUND-IMAGE: url(../_images/ico_nivel2.gif); PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #333333; PADDING-TOP: 8px; BACKGROUND-REPEAT: repeat; FONT-FAMILY: Verdana, Arial; TEXT-DECORATION: underline
}
